<h1>New Packjob</h1>


<%= form_with scope: :packjob, url: packjobs_path,  local: true do |form| %>
  <p>
    <%= form.label :"Packer's Name:" %>
    <%= form.text_field :title %>
    <%= form.label :"Rig:" %>
    <%= form.text_field :text %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
